:root {
    --navy: #071C2C;
    --ocean: #0B6E8E;
    --turquoise: #21B6B7;
    --off-white: #F5F7F4;
    --white: #FFFFFF;
    --sand: #D9C7A5;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

    body {
    font-family: "DM Sans", sans-serif;
}

h1, h2, h3, .logo, button {
    font-family: "Montserrat", sans-serif;
    color: var(--off-white);
}

p {
    font-family: "Montserrat", sans-serif;
    color: var(--ocean);
}

body {
    width: 100vw;
}

header {
    background-color: var(--off-white);
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--off-white);
}

.logo {
    margin-left: 10%;
}

.navbar{
        margin-right: 2%;
        margin-top: 1%;
}

main {
    background-color: var(--navy);
    height: 80%;
}


.title h3 {
    color: var(--turquoise);
}

.card {
    background-color: var(--navy);
}

.card-title {
    color: var(--off-white);
}

.text-body-secondary {
    color: var(--off-white);
}

footer {
    background-color: var(--sand);
    height: 40px;
}